.App {

  text-align: center;
  font-size: 3rem;
  padding: 20px;

}

input {

  padding: 1.5rem;
  margin-right: 1.5rem;
}

button {

  padding: 1.5rem;
  margin-right: 1.5rem;

}

ul {
  list-style-type: none;
  padding: 0%;
}

li {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border: 1.5 rem solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;


}